header h1{
  border-style: groove;
  border-color: green;
  padding: 100px;
  text-align: center;
  color: white;
  background-image: url("ballpark.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-color: gold;
}

.bold {
  color: blue;
  font-size: 1.2em;
  font-family: verdana;
  line-height: 150%;
  list-style-type: square;
}

.bullet {
  color: blue;
  font-size: .8em;
  font-family: verdana;
  list-style-type: square;
}

.headings {
  text-align: center;
  font-size: 1.4em;
  text-decoration: underline;
}

h2 {
  margin-left: 25%;
  margin-right: 32%;
  border-style: solid;

}

#analysis {
  text-indent: 50px;
  background-color: green;
  color: gold;
}

a:link {
  color: blue;
}

a:visited {
  color: gold;
}

footer {
  text-align: center;
}

@media screen and (max-width: 500px) {
  body {
    font-size: 200%;
  }
}

@media handheld and (orientation: landscape) {
  body {
    background-color: turquoise;
  }
}